<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
<h1>Search Results for <%= query %></h1>
<% if (searchResults.length > 0) { %>
    <ul>
        <% searchResults.forEach(note => { %>
            <li>
                <h2><%= note.title %></h2>
                <p><%= note.content %></p>
                <% if (note.file) { %>
                    <p><a href="<%= note.file.path %>"><%= note.file.originalname %></a></p>
                <% } %>
                <form action="/delete/<%= note.id %>" method="get">
                    <button>Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No results found.</p>
<% } %>
</body>
</html>
